.nav-item{
    padding: 20px;
    color:black;
}
.btn-dark{
    width: 170px;
}
.navbar{
    padding: 35px;
}
.row{
    padding: 8px;
    margin: 15px;
    
}
.card{
    border: none;
    font-size: 18px;
    text-align:justify;
}

.card-text{
    margin: 5px;
}
.btn-primary{
    background-color:#bddcfb;
    color: black;
    width: 200px;

}