.nav-item {
  padding: 13px;
  color: black;
  margin: 1px;
}

.btn-dark {
  width: 170px;
}

.navbar {
  padding: 35px;
}

.row {
  padding: 8px;
  margin: 15px;
}

.card {
  border: none !important;
  font-size: 18px;
  text-align: justify;
  margin: 30px;
}

.card-text {
  padding: 15px;
  border: none !important;
  font-weight: 500;
  line-height: 32px;
  font-weight: 450 !important;
}

.btn-primary {
  width: 200px;
  margin-left: 16px;
}

#carouselExampleSlidesOnly {
  padding-left: 60px;
  padding-right: 60px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:active:focus {
  background-color: #c6dff9 !important;
  border: none !important;
  color: black !important;
  font-weight: 450 !important;
  margin: -10px !important;
  padding-right: 10px !important;
}

/*# sourceMappingURL=style.css.map */
